# Rename this file to production.auto.tfvars and customize your variables #
brand               = "magenx"
codename            = "polar23"
domain              = "magenx.org"
admin_email         = "admin@magenx.org"
github_repo         = "magenx/Magento-2"

ecr = {
  force_delete = true
}

ecs = {
  desired_count                      = 1
  deployment_minimum_healthy_percent = 100
  deployment_maximum_percent         = 200
  service_name                       = "my-ecs-service"
  service_image                      = "public.ecr.aws/docker/library/hello-world:latest"
  container_port                     = 80
  host_port                          = 80
  cpu_units                          = 200
  memory                             = 200
}
