# Rename this file to production.auto.tfvars and customize your variables #
brand               = "magenx"
github_repo         = "magenx/Magento-2"
domain              = "magenx.org"
admin_email         = "admin@magenx.org"
